
$primary-color: #2e7d32; // Tamsiai žalia
$secondary-color: #fbc02d; // Tamsiai geltona
$font-stack: Helvetica, sans-serif;

body {
  font-family: $font-stack;
  color: $primary-color;
}

.header {
  background-color: $secondary-color;
  padding: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
}

.footer {
  background-color: $secondary-color;
  padding: 10px;
  text-align: center;
  color: white;
}

.dish-upload, .dish-list, .login, .register {
  margin: 20px;
  padding: 20px;
  background-color: lighten($primary-color, 40%);
}

button {
  margin: 5px;
}